# Xcode
DerivedData/
build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcsettings/
*.xcuserstate
libepos2.xcframework/

# SwiftPM
.swiftpm/
.build/

# Personal
*.env
.DS_Store
